# Dumper narcs
PokemonDumper/DumpedData

# PokemonGameEngine's built binary assets
PokemonGameEngine/Assets/Encounter/**/*.bin
PokemonGameEngine/Assets/Map/**/*.bin
PokemonGameEngine/Assets/ObjSprites/ObjSprites.bin
PokemonGameEngine/Assets/Pokedata/**/*.bin
PokemonGameEngine/Assets/Script/Scripts.bin
PokemonGameEngine/Assets/Tileset/Animation/Animations.bin

# Other
*.user
.vs/
[Bb]in/
[Oo]bj/